<div style="background: #1E88E5; width: 100%; padding: 2px;"></div>
<div style="background: #F9F9F9; border-radius: 8px; padding: 8px; word-spacing: 2px;">
<!--div style="background: #1E88E5; width: 100%; padding: 2px;"></div-->
<p style="color: #1E88E5; font-size: 24px; font-weight: bold;">Havwis</p>
<h3 style="color: #616161; word-spacing: 2px;">Your verification code is</h4>
<h2 style="font-family: monospace;">{{code}}</h2>
<p style="color: #616161; font-size: 16px; font-family: san; word-spacing: 2px;">Your account can’t be accessed without this verification code, even if you didn’t submit this request.</p>

<p style="color: #616161; font-size: 16px; font-family: san; word-spacing: 2px;">To keep your account secure, we recommend using a unique password for your Havwis account or using the Havwis Account Access app to sign in. Havwis Account Access’ two-factor authentication makes signing in to your account easier, without needing to remember or change passwords.</p>

<p style="color: #616161; font-size: 16px; font-family: san; word-spacing: 2px;"><a style="padding: 0 8px 0 0; text-decoration: none; color: #000000;" href="#">Learn more</a>and download the Havwis Account Access app.
<div class="padding: 0 8px; margin-left: 8px;"><img src="#" width="32px"><span style="margin-left: 8px;">Download on the App Store</span></div><div style=""><img src="#" width="32px"><span style="margin: 8px;">Get it on Google Play</span></div>
<p>If you have any questions, please <a href="#"> contact Support</a>.</p>
</div>