binance==0.3
bitcoinlib==0.5.2
ccxt==1.48.40
channels==3.0.3
cloudinary==1.24.0
coinmarketcap==5.0.3
dj-database-url==0.5.0
django-allauth==0.44.0
django-cloudinary-storage==0.3.0
django-countries==7.0
django-crispy-forms==1.10.0
django-el-pagination==3.3.0
django-notifications-hq==1.6.0
django-phonenumber-field==1.1.0
django-qr-code==2.0.1
gunicorn==20.0.4
heroku==0.1.4
whitenoise==5.2.0
shrimpy-python==0.0.14
Django==3.1.5
django-heroku==0.3.1
psycopg2==2.8.6