<!--Written by lyonkvalid 7:40PM Wed , jan 6 2020 -->
{% extends 'wallet/MainActivity.html' %}
{% load static %}
{% block content %}
<div class="body">
  <div class="linearlayout">
  <div class="container linearlayout-body remove-mt-160 z-index-0 layout mt-160">
    {% if not request.user.is_active %}
      <div class="alert bg-orange border-none alert-sucess"><div class="form-row"><img src="img/ic_info_black.png" height="32px" width="32px" class="filter-black"><span class="col">Verify email and phone number to be able to send and receive Crytocurrencies.<a href="#" class="underline">Verify</a></span></div></div>
    {% endif %}
    {% include "wallet/xml/List.xml" %}
</div>
</div>

  <!--Bottom Navigation -->
  <div class="footer bg-white bt-mute font-family-bdy position-fixed text-bold pt-8 text-12 text-muted form-row">
    <div id="nav-btn-home" class="col p text-body text-center"><img id="nav-btn-home-img" src="{% static 'img/ic_home_black.png' %}" width="24px" class="filter-default"><p id="nav-btn-home-text" class="p text-primary">Home</p><p class="circle bg-primary nav-btn-home-circle p text-center"></p></div>
    <div id="nav-btn-wallet" class="col text-center"><img src="{% static 'img/ic_wallet_membership_black.png' %}" width="24px" class="filter-blue-2"><p id="nav-btn-wallet-text" class="p">Wallet</p><p class="circle nav-btn-wallet-circle bg-primary p text-center"></p></div>
    <div id="nav-btn-card" class="col text-center"><img src="{% static 'img/ic_store_black.png' %}" width="24px" class="filter-blue-2"><p id="nav-btn-card-text" class="p">Cards</p><p class="circle nav-btn-card-circle bg-primary p text-center"></p></div>
    <div id="nav-btn-profile" class="col text-center"><img src="{% static 'img/ic_person_black.png' %}" width="24px" class="filter-blue-2"><p class="p">Account</p><p class="circle bg-primary nav-btn-profile-circle p text-center"></p></div>
  {% block bottom-navigation %}
    <script type="text/javascript" src="{% static 'js/resources/BottomNavigation.js' %}"></script>
  {% endblock %}
  </div>
{% block style-css %}
<style>
  .top{top: 0;}
  .fixed{position: fixed;}{background: red; position absolute;}
</style>
{% endblock %}
</div>
{% endblock %}