<!--Written by lyonkvalid 7:40PM Wed , jan 6 2020 -->
{% extends "wallet/MainActivity.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<input type="hidden" id="wallet_instance_id">
{% if request.user.is_authenticated %}
<div class="container mt-160 remove-mt-160 opacity z-index-0 font-family-body">
  {% get_user_wallets request.user as wallets %}
  {% if wallets != None %}
     {% for wallet in wallets %}
        <p class="text-muted font-family-body text-16">Select Wallet</p>
        <select id="choose_wallet" class="bg-none outline-none border-muted w-25 btn btn-white r-8"><option>{{wallet.wallet_id}}</option></select>
        <a id="delete-btn" data-toggle="tooltip" title="{{msg}}" href="#" class="btn right mr-auto btn-sm btn-danger"><span class="float-right"><img class="filter-white mb4" width="16px" src="{% static 'img/ic_delete_black.png' %}">Delete wallet</span></a>
        {% block script-js %}
          <script>
            $("#delete-btn").on("click" , function (){
              $('.toast').toast('show'); event.stopPropagation();
                $(".modal-body").on("click" , function (){
                  event.stopPropagation();
                });             
             });
          </script>
        {% endblock %}
    {% empty %}
      <p class="text-danger">You don't have any Wallet create one now </p>
      <a href="#" class="btn btn-success btn-sm">Add wallet</a>
    {% endfor %}
  {% endif %}
</div>

<div class="list-group">
  {% for coin in wallet_single.coin.all %}
  {% get_user_wallets request.user as wallets %}
  {% if wallets != None %}
    {% for wallet in wallets %}
      {% get_balance wallet.wallet_id coin.coin_name as balance %}
      <li id="coin{{coin.id}}" data-backdrop="static" data-keyboard="true" data-toggle="modal" data-target="#modal{{coin.id}}" class="coin container bg-none list-group-item mt-8 mb-8 hover-muted"><img class="r-100" src="{{coin.coin_avatar.url}}" width="40px" height="40px"><span class="ml-16 mb-8 text-bold font-family-sweet">{{coin.coin_name|capfirst}}</span><span id="balance" class="right mt-8">{{balance}}</span></li>
    {% endfor %}
  <div class="modal b-sheet z-index-3 w-100 p rounded-0 font-family-body"  id="modal{{coin.id}}">
    <div class="modal-dialog modal-dialog-centered vertical-align-center modal-bottom">
      <div class="modal-content bg-none rounded-0 border-none">
        <div class="modal-header rounded-0 text-center p border-none">
          <span style="border-radius: 100px;" class="line-horizontal mb-8 bg-white text-center"></span>
        </div>
        <div class="modal-body bg-white" style="border-radius: 24px 24px 0 0;">
          <div class="form-row"><div><img class="filter-default" width="24px" src="{% static 'img/ic_arrow_up.png' %}"></div><a id="send{{coin.id}}" class="text-body none"><div class="col"><p class="text-bold text-16 p">Send</p><p class="text-muted p">Send crypto to another wallet</p></div></a></div>
          <div class="form-row mt-16"><div><img class="filter-default" width="24px" src="{% static 'img/ic_arrow_down.png' %}"></div><a id="receive{{coin.id}}" class="text-body none"><div class="col">
            <p class="text-bold text-16 p">Receive</p>
            <p class="text-muted p">Receive crypto from another wallet </p>
          </div></a>
        </div>
      </div>
    </div>
  </div>
    {% block modal-js %}
    <script>
        $("tooltip").show();
        $(window).on("click" , function(){
         $("body").attr('disabled','enabled');
         $(".btn").removeClass("border-none"); $(".modal-template").hide();
         $(".opacity").removeClass("img-opacity"); $(".list-group-item img").removeClass("img-opacity"); $("#modal{{coin.id}}").hide(); $("body").removeClass("bg-table"); $(".footer").show();$(".toolbar").addClass("bg-white");
        });       
        $("#coin{{coin.id}}").on("click" , function (){
          $(".toolbar").removeClass("bg-white"); $("#coin{{coin.id}}").removeClass("hover-muted"); $("#modal{{coin.id}}").show(); $("body").addClass("bg-table"); $(".list-group-item img").addClass("img-opacity"); $(".footer").hide(); $(".opacity").addClass("img-opacity");
           $("body").attr('disabled','disabled');
           event.stopPropagation(); $(".btn").addClass("border-none");
          $(".modal-body").on("click" , function (){
            event.stopPropagation();
          });
        });
        function reload(value){
          $(".layout").load("/havwis/wallet/");
        }
        $(document).ready(function(){
          //setInterval("reload()" , 1000);
          $('[data-toggle="tooltip"]').tooltip();
        });
        $("#receive{{coin.id}}").on("click" , function (){
          $.ajax({
            url:"/havwis/receive/{{coin.id}}/{{wallet_single.wallet_id}}/",
            cache:false,
            dataType:"html",
            success: function (data){
              $("#modal-template").show(); $(".b-sheet").hide(); event.stopPropagation();
             $(".modal-data").html(data);
            }
          });
       });
       
        $("#send{{coin.id}}").on("click" , function (){
          $.ajax({
            url:"/havwis/send/{{coin.id}}/{{wallet_single.wallet_id}}/",
            cache:false,
            dataType:"html",
            success: function (data){
              $("#modal-template").show(); $(".b-sheet").hide(); event.stopPropagation();
             $(".modal-data").html(data);
            }
          });
       });       
      </script>
    {% endblock %}
</div>
  {% endif %}
  {% endfor %}
{% else %}
  <p class="text-center p">
     <p class="p text-center">To be able to send and receive Crytocurrencies you have to register</p>
    <img align="center" src="{% static 'img/ic_empty.png' %}" width="100%" height="auto">
    <p class="text-center p"><a href="/auth/register/" class="text-body btn btn-block bg-orange">Get started</a></p>
  </p>
{% endif %}
{% get_user_wallets request.user as wallets %}
  {% if wallets|length > 0 %}
    <div class="text-center text-primary">More to come in next updates</div>
  {% endif %}

<!--Modal templates -->
<div class="container">
  <div id="modal-template" class="modal modal-template container">
    <div id="modal-template-dialog" class="modal-dialog modal-template-dialog modal-dialog-centered">
      <div id="modal-template-content" class="modal-content modal-template-content">
        <div id="modal-data" class="modal-body modal-data"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}