{% load custom_tags %}
<canvas width="100px" height="100px"></canvas>
<script>
  try {
  let chart = new Chart(document.querySelector("canvas").getContext("2d"), {
    type:"doughnut",
    data:{
      labels:[{% for network in networks %} '{{network.network}}', {% endfor %}],
      datasets:[{
        data:[1,2,3,4],
       // data:[{% for network in networks %} {% get_balance request network.network as balance %} {{balance}}+1, {% endfor %}],
        backgroundColor:["#f7931a", "#345c98", "#1B73BB", "#c0a74c"],
      }],
    },
    options:{
      cutoutPercentage:80,
      animation: false,
      legend:{
        display: false,
      },
      elements:{
        arc:{
          animation: false,
          borderWidth: 0,
        }
      }
    }
  });
  //alert(chart)
  }catch(e){
    alert(e)
  }
</script>