{% load custom_tags %}
<canvas class="p-0 ml-2"></canvas>
<script>
  try {
  let chart = new Chart(document.querySelector("canvas").getContext("2d"), {
    type:"doughnut",
    data:{
      labels:[{% for network in networks %} '{{network.network}}', {% endfor %}],
      datasets:[{
        data:[{% for network in networks %} {% get_balance request network.network as balance %} {{balance}}, {% endfor %}],
        backgroundColor:["#f7931a", "#345c98", "#c0a74c", "#1B73BB"],
      }],
    },
    options:{
      cutoutPercentage:85,
      animation: false,
      legend:{
        display: false,
      },
      elements:{
        arc:{
          animation: false,
          borderWidth: 0,
        }
      }
    }
  });
  }catch(e){
    alert(e)
  }
</script>