{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
  <div class="bg-dark text-white p-2">
    <img class="filter-white" src="{% static 'img/icon/hv_clear_black.png' %}" width="24px" height="24px">
    <span class="ml-3 text-16">Send BTC</span>
  </div> 
  {% include "v_1_0/toasts/error_toast.html" %}
  <div class="p-2 pt-2 mt-4">
    <div class="border-bottom border-dark">
      <input id="address" class="col p-2 border-0" type="text" placeholder="BTC wallet Address">
    </div>
    <div>
      <div class="form-row p-2 mt-4">
        <input id="btc-input" class="col float-left border border-dark rounded" type="number" placeholder="BTC amount">
        <span class="p-2">=</span>
        <input id="usd-input" class="col float-right border border-dark rounded" type="number" placeholder="USD amount">
      </div>
      <span class="small text-primary ml-1">Balance: {% print_network_value network balance %} ~ 0.00 USD</span>
    </div>
    <div class="m-3">
      <div class="form-row mt-4 border border-light alert shadow-sm p-2 pl-3 pl-3 rounded">
        <div class="col custom-control custom-switch ml-4">
          <input type="checkbox" class="custom-control-input" id="switch1">
          <label class="text-center custom-control-label font-weight-bold" for="switch1">Include Transaction Fee</label>
         </div>
         <span id="load-fee" class="d-none float-right spinner-border spinner-border-sm text-primary"></span>
      </div>
    </div>
    <div class="p-4"><button id="process" class="btn-block text-white text-14 btn bg-primary shadow-none rounded" disabled>Proceed</button></div>
  </div>
  {% include "v_1_0/modals/send_tx_fee.html" %}
  {% include "v_1_0/script/send_tx_fee_script.html" %}
  {% include "v_1_0/modals/send_tx_pin.html" %}
  {% include "v_1_0/modals/send_success.html" %}
  <style>
    input:focus{background: none!important; border 1px solid #1E88E5!important; outline: none;}
  </style>
{% endblock %}