  <div id="modal_tx_fee" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="rb-0-rt-16 modal-content fixed-bottom">
        <div class="modal-body">
           <p class="p-2 alert alert-warning">A fee of <b class="text-danger small tx-fee"></b> would be deducted from your send Amount</p>
           <p class="text-dark m-0 font-weight-bold">Amount to send</p>
           <p class="text-dark font-weight-bold text-20 tx-amount"></p>
        </div>
        <div class="modal-footer">
          <button id="confirm" class="btn btn-block shadow-none btn-primary r-100"> Confirm </button>
        </div>
      </div>
    </div>
  </div>