  <div class="modal">
    <div class="pl-4 pr-4 modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="p-2 text-center">
          <p class="m-0 text-success text-20 font-weight-bold">Confirm Payment</p>
          <p class="text-14 text-dark">Confirm transfer of BTC to recipient.</p>
        </div>
        <div class="modal-body pt-0">
          <div class="clearfix form-row">
            <div class="col">
              <p class="text-muted m-0">Date</p>
              <p class="font-weight-bold">20 June , 2017</p>
            </div>
            <div class="float-right">
              <p class="text-muted m-0 float-right">Time</p>
              <p class="font-weight-bold">17:20PM</p>
            </div>
          </div>
          <div class="clearfix form-row">
            <div class="col">
              <p class="text-muted m-0">TO</p>
              <p class="m-0 font-weight-bold text-muted">Mary Sandra</p>
              <p>payouk.mystre@gmail.com</p>
            </div>
          </div>
          <div class="clearfix form-row">
            <div class="col">
              <p class="text-muted m-0">Amount</p>
              <p class="font-weight-bold text-muted text-20">$150.00</p>
            </div>
            <div class="float-right">
              <div class="clearfix">
                <p class="text-muted float-right m-0">Fee</p>
              </div>
              <p class="font-weight-bold text-muted">0.00000124 BTC</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn tex-14 font-weight-bold btn-block r-100 shadow-none btn-success">Send</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".modal").modal("show");
  </script>