  <div id="modal_unavailable" class="modal fade">
    <div class="modal-dialog modal-dialog-cenered">
      <div class="rb-0-rt-16 border-0 modal-content fixed-bottom">
        <div class="border-0 modal-header  p-2 pb-0 text-16 font-weight-bold">Currently Unavailable</div>
        <div class="modal-body p-2 ">Our developers are still working on this feature , it will be available in next Updates.</div>
        <div class="modal-footer border-0">
          <span class="mr-2  font-weight-bold" onclick="$('.modal').modal('hide');">I understand</span>   <span class="font-weight-bold p-2 btn btn-primary r-100 btn-sm">Contact us</span>
        </div>
      </div>
    </div>
  </div>