{%  extends "base.html" %}
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
{% load static %}
{% block content %}
  <div class="container toolbar bg-dark p-16">
    <img id="back" src="{% static 'img/ic_arrow_back_white.png' %}" width="24px">
    <span class="text-size-standout ml-32 text-white">ADD CARD</span>
  </div>
  <div class="container form">
    <form action="/harvis/creditcard/" method="POST" class="form">
      {% csrf_token %}
      <label for="card-no" class="p text-16 text-bold">CARD NO</label>
      <div class="card-no mb-8 mt-8 border-muted r-4">
        <input id="card_no" type="number" name="card_no" class="border-none outline-none" placeholder="Valid Card No"><span class="bg-orange pb-8 pt-8"><img src="#" width="32px"></span>
      </div>
      <p id="card_no_error" class="text-danger">{{error}}</p>
      <div class="form-row">
        <div class="col ml-8">
          <label for="expiry-date" class="p text-16 text-bold">EXPIRY DATE</label>
           <div id="expiry-date-clone" class="border-muted card-no mt-8 col r-4">YYYY-MM-DD</div>
           <input id="expiry_date" name="expiry_date" type="date" value="2020-06-07" class="card-no bg-white col outline-none r-4 border-muted mt-8" placeholder="Expiry Date">
           <p id="expiry_date_error" class="text-danger">{{error}}</p>
        </div>
        <div class="col ml-8">
          <label for="cvv" class="p text-16 text-bold">CV CODE</label>
          <input id="cvv" name="cvv" type="number" class="card-no col outline-none r-4 border-muted mt-8" placeholder="CVV">
          <p id="cvv_error" class="text-danger">{{error}}</p>
        </div>
      </div>
      <label class="p text-16 text-bold" for="card-name">CARD OWNER</label>
      <input id="card_name" name="card_name" type="text" class="col mt-8 card-no border-muted r-4" placeholder="Name on card">
      <p id="card_name_error" class="text-danger">{{error}}</p>
      <button id="submit" type="button" class="btn float-right mt-16 btn-warning">Add Card</button>
    </form>
</div>
<div class="container mt-48">
  <div class="alert alert-info border-none">By continuing you accept our <a href="#">Term of Service and conditions</a></div>
</div>
{% block script %}
<script>
  $("#back").on("click" , function (){
    $("body").load("/harvis/home/");
  });
  $("#submit").on("click" , function(){
    $.post("/harvis/creditcard/" , {"card_no":$("#card_no").val() , "card_name":$("#card_name").val() , "expiry_date":$("#expiry_date").val() , "cvv":$("#cvv").val() , "csrfmiddlewaretoken":"{{csrf_token}}" } , function (data , status){
      for(error in data.errors.card_no){
        $("#card_no_error").html(data.errors.card_no[error]);
      }
      for(error in data.errors.expiry_date){
        $("#expiry_date_error").html(data.errors.expiry_date[error]);
      }
      for(error in data.errors.card_name){
        $("#card_name_error").html(data.errors.card_name[error]);
      }
      for(error in data.errors.cvv){
        $("#cvv_error").html(data.errors.cvv[error]);
      }
    });
  });
  var button = document.querySelector("#expiry-date-clone");
  button.onclick = () => {
    var input = document.querySelector("#expiry_date");
      input.focus()
      input.click()
  }
 function updateDate(){
   $("#expiry-date-clone").html($("#expiry_date").val());
 }
 $(function (){
   setInterval("updateDate()", 0.1);
 });
</script>
{% endblock %}
{% endblock %}