{% block content %}
<div class="list-group">
  {% for coin in coins %}
     {{coin}}
    <li id="coin{{coin.id}}" data-toggle="modal" data-target="#transaction" class="bg-none list-group-item mt-8 mb-8 hover-muted"><img class="r-100" src="{{coin.coin_avatar.url}}" width="40px" height="40px"><span class="ml-16 mb-8 text-bold font-family-sweet">{{coin.coin_name}}</span><span class="right mt-8">NGN 0.00</span></li>
  <div class="modal w-100 p rounded-0 font-family-body"  id="modal{{coin.id}}">
    <div class="modal-dialog modal-dialog-centered vertical-align-center modal-bottom">
      <div class="modal-content bg-none rounded-0 border-none">
        <div class="modal-header rounded-0 text-center p border-none">
          <span class="line-horizontal mb-8 bg-white text-center"></span>
        </div>
        <div class="modal-body bg-white" style="border-radius: 24px 24px 0 0;">
          <div class="form-row"><div><img src="#"></div> <div class="col"><a href="#" class="text-body"><p class="text-bold text-16 p">Send</p><p class="text-muted p">Send crypto to another wallet</p></a></div></div>
          <div class="form-row mt-16"><div><img src="#"></div><div class="col">
            <p class="text-bold text-16 p">Receive</p>
            <p class="text-muted p">Receive crypto from another wallet </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% block modal-js %}
    <script>
        $("#coin{{coin.id}}").on("click" , function (){
          alert("hey")
        });
      </script>
    {% endblock %}
  {% endfor %}
</div>
{% endblock %}